@model IPagedList<Job>

@{
    ViewData["Title"] = "Jobs";
}

<div class="mt-2">
    <a asp-action="Create" asp-controller="Jobs" class="btn btn-primary">+ Job</a>
    <a asp-action="SeedDataFromAPI" asp-controller="Jobs" class="btn btn-primary mx-1">Seed Data</a>
</div>

<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Contact</th>
            <th scope="col">Email</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var job in Model)
        {
            <tr>
                <td>@job.Id</td>
                <td>@job.Title</td>
                <td>@job.Type</td>
                <td>@job.Area</td>
                <td>@job.Salary</td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-controller="Jobs" asp-route-id="@job.Id">Edit</a>
                    <a class="btn btn-danger delete-btn" data-id="@job.Id" asp-action="Delete" asp-controller="Jobs" asp-route-id="@job.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*Pagination Control for navigation to next page, previous pag, etc*@
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { pageNo = page }),
    new PagedListRenderOptions
    {
        DisplayItemSliceAndTotal = true,
        ContainerDivClasses = new[] { "navigation" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" }
    })

@section Scripts {
    <script>
        /**
         * Work around to fix style for pagination controls
         */
        $(document).ready(function () {
            $("ul.pagination > li.disabled > a").addClass("page-link");
        });
    </script>
}