@model IPagedList<Employee>

@{
    ViewData["Title"] = "Employees";
}

<div class="mt-2">
    <a asp-action="Create" asp-controller="Employees" class="btn btn-primary">+ Employee</a>
    <a asp-action="SeedDataFromAPI" asp-controller="Employees" class="btn btn-primary mx-3">Seed Data</a>
</div>

<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Contact</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Position</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.FirstName @employee.MiddleName @employee.LastName</td>
                <td>@employee.Address</td>
                <td>@employee.Contact</td>
                <td>@employee.DateOfBirth</td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-controller="Employees" asp-route-id="@employee.Id">Edit</a>
                    <a class="btn btn-danger delete-btn" data-id="@employee.Id" asp-action="Delete" asp-controller="Employees" asp-route-id="@employee.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*Pagination Control for navigation to next page, previous pag, etc*@
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { pageNo = page }),
    new X.PagedList.Web.Common.PagedListRenderOptions
    {
        DisplayItemSliceAndTotal = true,
        ContainerDivClasses = new[] { "navigation" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" }
    })

@section Scripts {
    <script>
        /**
         * Work around to fix style for pagination controls
         */
        $(document).ready(function () {
            $("ul.pagination > li.disabled > a").addClass("page-link");
        });
    </script>
}